@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

.Footer {
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background: rgb(19, 19, 19);
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  bottom: 0;
  position: absolute;
  margin-top: 10vh;

  span {
    color: white;
  }
}

html {
  position: relative;
}

.copyright {
  display: flex;
  flex-direction: row;
  
  span {
    margin-left: 0.5vh;
  }
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  color: white;
}