.Container {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  
  .SectionTitle {
    font-size: 28px;
    color: white;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .edit-films-BigCard {
    margin: 3vh;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 2rem;
    padding-left: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(171, 7, 7, 0.6);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 10px;
    color: white;
    width: 100vh;

    span {
        margin-right: 2vh;
    }
  }

  .edit-films-Card {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 2rem;
    padding-left: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 10px;
    color: white;
    width: auto;
  }

  .create-session {
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
  }

  .PrimaryBtn {
    transition: 0.5s;
    display: flex;
    align-items: center;
    background: #c00e1d;
    border-radius: 11px;
    box-sizing: border-box;
    color: #f6f6f6;
    cursor: pointer;
    display: flex;
    font-size: 0.9rem;
    font-weight: 500;
    justify-content: center;
    padding: 0.8em 1em;
    text-align: center;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 1px;
    text-underline-offset: 1px;
    transition: all 0.2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    word-break: break-word;
    margin-top: 3vh;
    width: 160px;
    &:hover {
      transition: 0.5s;
      color: black;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 10px;
    }
  }

.form-container{
    width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}